*
{
    background-color: rgb(130, 172, 253);
    font: white;
}
body
{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font: white;
}
.chronosaga
{
    font-family: 'CenturyGothic';
    color: white;

}

@font-face {
    font-family: 'CenturyGothic';
    src: url(GOTHICB.TTF);
}
